body{
    background-color: #1a202c;
     font-style: italic;
}
.skills-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #1a202c;
  color: beige;
   font-style: italic;
}

.skill-bar {
  margin-bottom: 20px;
   font-style: italic;
}

.skill-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  margin-bottom: 6px;
   font-style: italic;
}

.progress-wrapper {
  background-color: #eee;
  border-radius: 8px;
  height: 20px;
  overflow: hidden;
   font-style: italic;
}

.progress-fill {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  height: 100%;
  width: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  transition: width 1.5s ease;
   font-style: italic;
}

.progress-text {
  font-size: 0.9rem;
   font-style: italic;
}
